.header_end{
    .footer1{
        background: #292929;
        height: 52px;
        margin-top: 30px;
    }
    .footer-separator {
        background: #141414;
        border-bottom: 1px solid #1a1a1a;
        border-top: 1px solid #313131;
        height: 1px;
    }
    .footer2{
        background: #1e1e1e;
        p{
            color: #909090;
            margin: 0 auto;
            padding: 25px 0 29px 0;
            a{
                color: #909090;
                text-decoration: underline;
                transition: .2s;
                &:hover{
                    color: #e8e8e8;
                }
            }
        }
    }
    .footer2_container {
        max-width: 1240px;
        margin: 0 auto;
    }
}